:root {

  color-scheme: light;

  --canvas: var(--gray-11);
  --ink: var(--gray-0);

  --transparent-canvas-dark: rgba(58, 58, 55, var(--transparent-canvas-opacity));
  --transparent-canvas-light: rgba(151, 155, 157, var(--transparent-canvas-opacity));
  --transparent-canvas-lightest: rgb(248, 249, 250, var(--transparent-canvas-opacity));

  --transparent-canvas-opacity: 0.5;

  --horizontal-gradient-dark: linear-gradient(to right, var(--transparent-canvas-dark), var(--transparent-canvas-light), var(--transparent-canvas-dark));
  --horizontal-gradient-light: linear-gradient(to right, var(--transparent-canvas-light), var(--transparent-canvas-lightest), var(--transparent-canvas-light));

  
  --surface-1: light-dark(var(--purple-12) , var(--gray-12));
  --text-1: light-dark(var(--purple-2) , var(--orange-2));

  --spacing-block: var(--size-fluid-1);
  --spacing-inline: var(--size-fluid-2);

  --content-max-width: 1100px;
  --breakout-size: calc( (var(--breakout-max-width) - var(--content-max-width) ) / 2);
  --breakout-max-width: 1200px;
  --section-height: 100svh;

}

html {
  background: var(--canvas);
  color: var(--ink);
  font-family: var(--font-humanist);
  height: 100vh;
}

body {
  background: var(--blue-12) url(/assets/images/brown-tree-in-forest-original.webp) no-repeat center bottom fixed;
  background-size: cover;
  color: inherit;
  container-type: inline-size;
  margin: 0;
  min-height: 100svh;
  position: relative;
}

body > .layout {
  max-width: 100svw;
  min-height: 100vh;
}

/* Layout Utilities */
.layout {
  align-items: center;
  backdrop-filter: blur(5px);
  display: grid;
    column-gap: var(--spacing-inline);
    row-gap: var(--spacing-block);
  grid-auto-columns: 1fr;
  grid-template-columns: [full-width] auto;
  grid-template-rows:
    [header-start] auto 
    [header-end main-start] 1fr 
    [main-end footer-start] auto 
    [footer-end];
  justify-items: stretch;
}

.content-grid {
  display: grid;  
    column-gap: var(--spacing-inline);
    row-gap: var(--spacing-block);
  grid-auto-columns: 1fr;
  grid-template-rows: 
    [header] min-content
    [content] 1fr;
  padding-block: var(--spacing-block);
  padding-inline: var(--spacing-inline);
  width: clamp(300px, 75svw, var(--content-max-width));
  
  @container (min-width: 500px) { 
    grid-auto-rows: 1fr;
    grid-template-columns: 
      [full-width-start breakout-start] var(--size-fluid-4)
      [aside-primary-start] 1fr
      [aside-primary-end content-start] 2fr
      [content-end aside-secondary-start] 1fr 
      [aside-secondary-end] var(--size-fluid-4) 
      [breakout-end full-width-end];
  }
  
}

/* availability */
#availability {
  align-items: center;
  background: var(--horizontal-gradient-dark);
  display: flex;
  flex-flow: row nowrap;
  font-size: var(--font-size-0);
  inset-block-start: 0;
  inset-inline: 0;
  justify-content: space-between;
  padding-block: calc(var(--spacing-block) / 3);
  padding-inline: var(--spacing-inline);
  position: fixed;

  h4 {
    font-size: inherit;
    font-weight: var(--font-weight-3);
    filter: opacity(1);
  }

  a:is(:link, :visited, :hover, :active) {
    align-items: center;
    color: inherit;
    display: flex;
    flex-flow: row nowrap;
    font-size: inherit;
    gap: calc(var(--spacing-inline) / 2);
    line-height: 1; 
    text-decoration: none;
  }
}

/* header */
header[role="banner"] {
  align-items: center;
  border-image: var(--horizontal-gradient-light);
  border-image-slice: 1;
  border-block-start: 0;
  border-inline: 0;
  border-width: 1px;
  display: flex;
  flex-flow: row nowrap;
  grid-column: full-width;
  grid-row: header;
  justify-content: flex-end;
  margin-inline: var(--spacing-inline);
  padding-block: var(--spacing-block);
  display: none;
}

nav:is([aria-label="Main"]) {
  background-color: transparent;
  color: var(--text-1);
  width: fit-content;
}

header[role="banner"] {

  nav ul {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-block);
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: max-content;
  
    @container (min-width: 500px) {
      flex-direction: row;
      gap: var(--spacing-inline);
    }
  }

  nav li {
    color: var(--ink);
    padding: 0;
  
    a:is(:link, :visited, :hover, :active) {
      align-items: center;
      background-color: transparent;
      color: inherit;
      display: flex;
      flex-flow: row nowrap;
      gap: calc(var(--spacing-inline) * 0.5);
      justify-content: center;
      line-height: 1;
      text-decoration: none;
    }
  
  }

}

/* main */
main {
  grid-row: main;
}

main section {
  margin-inline:auto;
}

section[aria-label="Introduction"] {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-block: var(--spacing-block);
  padding-inline: var(--spacing-inline);
  position: relative;

  div {
    position: relative;
  }

  svg {
    filter: drop-shadow(5px 5px 10px var(--canvas));
    height: calc(var(--section-height) * 0.7);
    width: auto;
  }

  p {
    filter: drop-shadow(2px 2px 6px var(--canvas));
    font-size: var(--font-size-fluid-1);
    inset-block-end: 32%;
    inset-inline-start: 25%;
    position: absolute;
  }

}

/* footer */
footer {
  grid-row: footer;
  padding: var(--spacing-block) var(--spacing-inline);
}

/* utility classes */
.invisible {
  position: absolute; width: 0; height: 0;
}