*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background: #060402;
  color: var(--t1);
  font-family: var(--bf);
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
